#BeagleBone Black Config
BBB_IP=<Your BBB_IP>
BBB_SSH_USERNAME=<Your BBB_SSH_USERNAME>
BBB_SSH_PASSWORD=<Your BBB_SSH_PASSWORD>

# DATABASE
HOST=<Your Database Host>
USER=<Your Database User>
PASSWORD=<Your Database Password>
DATABASE=<Your Database Name>

# SECURITY
SECRET_APP=<Your Secret Key for App Authentication>
JWT_SECRET=<Your Secret Key for JWT>
